
/*------------------------------------------------*/
/* BASIC SETUP                                    */
/*------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

html{
    color: #555;
    font-family: 'Lato', 'Gotham';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------------*/
/* REUSABLE COMPONENTS                            */
/*------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* HEADINGS                                       */


h1, h2, h3{
    font-weight: 300;
    text-transform: uppercase;

}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
	text-align: center;
	padding-top: 20px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.sub{
	color:white;
}

h1:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

/* PARAGRAPHS                                      */

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}


/* ICONS                                        */
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    text-align: center;
    margin-bottom: 30px;
}

.Partners-Page-Heading{
	padding: 50px;
}

.Partners-header{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/background-4.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-4.jpg);
    background-size: cover;
    background-attachment: fixed;
	height: 50vh;
}

span{
	color:#e67e22;
}

.btn:link,
.bnt:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;

}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #cf6d17;

}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

.download-reg{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/Downtown-Sample.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Downtown-Sample.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

.registration-details{
	padding-bottom: 40px;
}

.grey{
	background-color: #F4F4F4;
}

.accordian{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
}

.accordian.open{
	max-height: 400px;
}

.accordian1{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
}

.accordian1.open{
	max-height: 400px;
}

.accordian2{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
}

.accordian2.open{
	max-height: 400px;
}

.accordian3{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
}

.accordian3.open{
	max-height: 400px;
}


